<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--你接口的包名是com.abc.dao,接口名是NameMapper.java，那么你的mapper.xml的namespace应该是com.abc.dao.NameMapper-->
<mapper namespace="com.step.demo.mapper.HelloMapper">

    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="BaseResultMap" type="com.step.demo.model.Hello">
        <!-- 结果集的主键 -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--parameterType(输入类型)、resultType(输出类型)-->

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
      insert into User(name) values(#{name});
    </insert>

    <select id="selectById" parameterType="Long" resultMap="BaseResultMap" resultType="com.step.demo.model.Hello">
      SELECT * FROM User WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectOneById" parameterType="Long" resultMap="BaseResultMap" resultType="com.step.demo.model.Hello">
      SELECT * FROM User WHERE id = #{id,jdbcType=INTEGER}
    </select>

</mapper>
